* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    height: 100%;
}

@font-face {
    font-family: myFont;
    src: url("../Font/Roboto-Regular.ttf");
}

.container {
    position: relative;
    
    background-color: rgb(247, 246, 251);

    margin: 0 auto;

    max-width: 1440px;
    height: 100%;
 
    display: flex;
    flex-direction: column;
}
/*---------------------------------------------------------------*/

.headerImage {
    position: absolute;
    
    background-image: url("../img/Header Desktop.svg");
    background-position: right;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 400px;
}
/*---------------------------------------------------------------*/
.firstSection, .thirdSection, .fourthSection {
    position: relative;
    width: 100%;
}
/*---------------------------------------------------------------*/
.firstSection .logo {
    position: relative;

    width: 100%;
    height: 100px;
}

.firstSection .logo img {
    position: relative;
    
    top: 25px;
    left: 65px;

    width: 300px;
    height: 50px;
}
/*-------------------------------------------*/
.firstSection .content .column_1 .space1 {
    display: none;
}

/*-------------------------------------------*/
.firstSection .firstSectionContent {
    padding: 0px 65px 65px 65px;
}

.firstSection .descriptionTitle {
    font-family: myFont;
    font-style: normal;

    font-weight: 700;
    font-size: 21px;
    line-height: 35px;

    color: #284D6D;
    
    margin-bottom: 16px;
}

.firstSection .descriptionText {
    font-family: myFont;
    font-style: normal;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #284D6D;

    margin-bottom: 16px;

    max-width: 528px;
}

.firstSection .firstSectionContent .column_2 {
    padding-left: 30px;
}

.firstSection .firstSectionContent .column_2 .space2 {
    height: 412px;
}

.firstSection .firstSectionContent .column_2 .description {
    position: relative;
    
    max-width: 640px;
}

.firstSection .firstSectionContent .column_2 .description .content {
    max-width: 476px;
    margin: 0 auto;
}

.firstSection .firstSectionContent .column_2 .description .text1 {
    padding: 16px 0px;
    
    max-width: 528px;
}

.firstSection .firstSectionContent .column_2 .description .list li {
    list-style: none;

    background: url("../img/List\ icon.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;

    padding: 4px 33px ;
    
    font-family: myFont;
    font-style: normal;

    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    color: #FE5F5F;
}
/*---------------------------------------------------------------*/
.secondSection {
    background-color: white;
    box-shadow: 0px 10px 55px rgba(36, 74, 170, 0.15);
    padding: 112px 65px;
}

.secondSection .secondSectionContent {
    max-width: 1000px;
    margin: 0 auto;
}

.secondSection .secondSectionContent .column_1 {
    float: left;
}
.secondSection .secondSectionContent .column_2 {
    margin-left: 30px;
    float: left;
}

.secondSection .column_1 .content {
    max-width: 444px;
}

.secondSection .column_1 .content .contentTitle {
    font-family: myFont;
    font-style: normal;

    font-weight: 700;
    font-size: 42px;
    line-height: 56px;

    color: #284D6D;
    margin-bottom: 16px;
} 

.secondSection .column_1 .content .contentText {
    font-family: myFont;
    font-style: normal;

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
    color: #284D6D;
} 
.secondSection .column_2 .content #diagramContent4 {
    min-height: 100px;
}
.secondSection .column_2 .content .diagramTitle {
    font-family: myFont;
    font-style: normal;

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    color: #FE5F5F;

    display: inline-block;
}

.secondSection .column_2 .content .diagramText {
    font-family: myFont;
    font-style: normal;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #284D6D;
}

.secondSection .column_2 .content .diagramContent {
    position: relative;
    max-width: 562px;
    min-height: 140px;
}
.secondSection .column_2 .content .diagramContent .col_1 {
    max-width: 50px;
    height: 100%;
    
    float: left;
}

.secondSection .column_2 .content .diagramContent .col_2 {
    max-width: 474px;
    height: 100%;
    
    float: left;
    position: relative;
    left: 20px;
}

.secondSection .column_2 .content .diagramContent .col_2 .diagramTitle {
    font-family: myFont;
    font-style: normal;

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;

    color: #FE5F5F;
}

.secondSection .column_2 .content .diagramContent .col_2 .diagramText {
    font-family: myFont;
    font-style: normal;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #284D6D;
}
/*---------------------------------------------------------------*/
.fourthSection {
    padding: 42px 0px;
    
    background-color: white;
    box-shadow: 0px 10px 55px rgba(36, 74, 170, 0.15);
}

.fourthSection .title {
    font-family: myFont;
    font-style: normal;

    font-weight: 700;
    font-size: 32px;
    line-height: 42px;

    text-align: center;

    color: #284D6D;

    margin-bottom: 12px;
}

.fourthSection #scrollImage {
    background-image: url("../img/Scroll\ Image.svg");
    background-repeat: repeat-x;
    background-size: auto 100%;

    width: 100%;
    height: 82.7px;
}
/*----------------------------------------------------------------*/
.thirdSection {
    padding: 65px;

    flex: 1;
}

.thirdSection .title {
    margin-bottom: 65px;
}

.thirdSection .title .bigTitle{
    font-family: myFont;
    font-style: normal;

    font-weight: 700;
    font-size: 32px;
    line-height: 42px;

    text-align: center;

    color: #284D6D;
    margin-bottom: 12px;
}

.thirdSection .title .smallTitle{
    font-family: myFont;
    font-style: normal;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    text-align: center;

    color: #284D6D;
}

.thirdSection .cards {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}

.thirdSection .cards .card {
    position: relative;
    
    max-width: 305px;
    height: 388px;

    background: #FFFFFF;
    
    border: 1px solid #EFF0F7;
    box-shadow: 0px 10px 55px rgba(36, 74, 170, 0.15);
    border-radius: 36px;
    
    padding: 32px 42px;
    
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 12px;

    display: inline-block;
}

.thirdSection .cards .card .content {
    display: flex;
    flex-direction: column;
}

.thirdSection .cards .card .content img {
    width: 96px;
    
    margin-bottom: 30px;
}

.thirdSection .cards .card .cardText {
    font-family: myFont;
    font-style: normal;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #565E6A;
    flex: 1;
}

.thirdSection .info {
    position: absolute;
    bottom: 34px;
}

.thirdSection .info  .cardName {
    font-family: myFont;
    font-style: normal;

    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    color: #284D6D;
}

.thirdSection .info  .cardPosition {
    font-family: myFont;
    font-style: normal;
    
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #284D6D;
}

.thirdSection .pageNav {
    position: relative;

    margin: 0 auto;
    margin-top: 24px;

    width: 120px;

    display: none;
}

.thirdSection .pageNav .pageRadio {
    position: relative;

    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.thirdSection .pageNav .pageRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.thirdSection .pageNav .pageRadio .checkmark {
    background-image: url("../img/ellipse2.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center left 0px;

    top: 0;
    left: 0;

    width: 30px;
    padding: 15px;
}

.thirdSection .pageNav .pageRadio input:checked ~ .checkmark {
    background-image: url("../img/ellipse1.svg");
    background-repeat: no-repeat;
    background-position: center left 0px;
}
/*------------------------------------------------------------*/
footer {
    height: 74px;
    padding: 20px 65px;
    bottom: 0px;

    background: #284D6D;
}

footer table {
    width: 100%;
}

footer .footerText {
    float: right;
}

footer .footerText {
    font-family: myFont;
    font-style: normal;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: right;

    color: #EFF0F7;
}
/*--------------responsive--------------*/
@media(max-width: 1250px) {
    .container {
        max-width: 991px;
    }
    /*-----------------------------------------------------------*/
    .headerImage {
        background-image: url("../img/Header\ Desktop2.svg");
        background-position: center;
    }

    .firstSection {
        margin-bottom: 0;
        padding-bottom: 0px;
    }

    .firstSection .firstSectionContent .column_1 .space1 {
        display: block;
        height: 130px;
    }
    /*---------------------------------------------------------*/
    .firstSection .firstSectionContent .column_2 .space2 {
        display: none;
    }

    .firstSection .firstSectionContent .column_2 .description {
        max-width: 776px;
        margin: 0 auto;
        padding: 65px 35px;
        padding-bottom: 0px;
    }

    .firstSection .firstSectionContent .column_2 .description .content {
        max-width: 642px;
    }

    .firstSection .firstSectionContent .column_2 .description .text1 {
        padding: 16px 0px;
        max-width: 706px;
    }

    .firstSection .contnet .column_2 .space2 {
        display: none;
    }

    .secondSection {
        padding: 65px;
    }
    .secondSection .secondSectionContent {
        max-width: 712px;
        margin: 0 auto;
    }

    .secondSection .secondSectionContent .column_1 .contentTitle {
        text-align: center;
    }

    .secondSection .secondSectionContent .column_1 .contentText {
        text-align: center;
    }

    .secondSection .column_1 .content {
        margin-bottom: 30px;
        max-width: 712px;
    }

    .secondSection .column_2 .content .diagramContent {
        position: relative;
        max-width: 712px;
        min-height: 140px;
        margin: 0 auto;
        display: block;
    }
    
    .secondSection .column_2 .content .diagramContent .col_1 {
        max-width: 20%;
        height: 100%;
        
        float: left;
    }
    
    .secondSection .column_2 .content .diagramContent .col_2 {
        max-width: 80%;
        height: 100%;
        
        float: left;
        position: relative;
        left: 20px;
    }
}

@media (max-width: 685px) {
    .firstSection {
        padding: 0px;
    }

    .firstSection .firstSectionContent {
        padding: 0px;
    }

    .firstSection {
        padding-bottom: 25px;
    }
}

@media (max-width: 600px ) {
    .container {
        max-width: 375px;
        min-width: 331px;
    }

    .headerImage {
        background-image: url("../img/Header\ Mobile.svg");
        height: 181px;
    }

    .firstSection  {
        padding: 0px;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }

    .firstSection .logo img {
        width: 210px;
        height: auto;
        left: 35px;
        top: 5px;
    }

    .firstSection .descriptionTitle {
        font-family: myFont;
        font-style: normal;

        font-weight: 700;
        font-size: 16px;
        line-height: 22px;

        color: #284D6D;
    }

    .secondSection {
        padding: 65px 35px;
    }

    .secondSection .secondSectionContent .column_2 {
        margin-left: 0px;
    }

    .secondSection .column_1 .content .contentTitle {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 16px;
    } 

    .secondSection .column_1 .content .contentText {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 46px;
    }

    .secondSection .column_2 .content .diagramContent {
        position: relative;
        max-width: 311px;
        min-height: 140px;
        margin: 0 auto;
        display: block;
    }
    
    .secondSection .column_2 .content .diagramContent .col_1 {
        max-width: 15%;
        height: 100%;
        
        float: left;
    }

    .secondSection .column_2 .content .diagramContent .col_1 img {
        width: 80%
    }
    
    .secondSection .column_2 .content .diagramContent .col_2 {
        max-width: 85%;
        height: 100%;
        
        float: left;
        position: relative;
        left: 5px;
    }

    .firstSection .descriptionText {
        font-family: myFont;
        font-style: normal;

        font-weight: 400;
        font-size: 15px;
        line-height: 24px;

        text-align: center;

        color: #284D6D;
    }

    .firstSection .firstSectionContent .column_1 .space1 {
        display: block;
        height: 50px;
    }
    
    .firstSection .firstSectionContent .column_2  {
        padding: 0px;
    }

    .firstSection .firstSectionContent .column_2 .description .list li {
        margin-bottom: 12px;

        font-weight: 500;
        font-size: 15px;
        line-height: 21px;
        
        color: #FE5F5F;
    }

    .firstSection .firstSectionContent .column_2 .description {
        margin: 0 auto;
        padding: 35px 25px 0px 25px;
    }

    .fourthSection {
        padding: 24px 0px;
    }
    
    .fourthSection .title {
        font-family: myFont;
        font-style: normal;

        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        text-align: center;

        color: #284D6D;
        margin-bottom: 12px;
    }
    
    .fourthSection #scrollImage {
        background-image: url("../img/Scroll\ Image.svg");
        background-repeat: repeat-x;
        background-size: auto 100%;
        
        width: 100%;
        height: 82.7px;
    }
    
    .thirdSection {
        padding: 35px 0px;
    }

    .thirdSection .title {
        margin-bottom: 8px;
        padding: 0px 35px;
    }
    
    .thirdSection .title .bigTitle{
        font-family: myFont;
        font-style: normal;

        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        text-align: center;

        color: #284D6D;
    }
    
    .thirdSection .title .smallTitle{
        font-family: myFont;
        font-style: normal;

        font-weight: 400;
        font-size: 16px;
        line-height: 23px;

        color: #284D6D;
    }

    footer {
        padding: 20px 16px;
    }
    
    footer table {
        width: 100%;
    }
    
    footer .footerText {
        float: right;
    }

    footer img {
        width: 70px;
        height: 34px;
    }
    
    footer .footerText {
        font-family: myFont;
        font-style: normal;

        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        
        text-align: right;

        color: #EFF0F7;
    }

    .firstSection .firstSectionContent .column_2 .description .list li {
        height: 40px;
        margin-bottom: 12px;
    }
}

@media (max-width: 1430px) {

    .thirdSection .cards {
        max-width: 850px;
        background-color: transparent;
    }
    .thirdSection .cards .card {
        max-width: 400px;
        height: 388px;

        margin: 0px 10px;
        margin-bottom: 20px;
        display: inline-block;
    }
}

@media (max-width: 975px) {
    .thirdSection .cards {
        max-width: 450px;
        height: 410px;
        background-color: rgb(247, 246, 251);
        position: relative;
        overflow: hidden;
    }

    .thirdSection .cards .card {
        width: 400px;
        height: 388px;
        position: absolute; 
        top: 0;
        left: 100%;
        margin: 0px;
        animation: 12s autoplay2 infinite ease-in-out;
        box-shadow: none;        
    }
    
    .thirdSection .pageNav {
        display: block;
    }
}
@media (max-width: 600px) {
    .thirdSection .cards {
        max-width: 316px;
        height: 410px;
        background-color: rgb(247, 246, 251);
        position: relative;
        overflow: hidden;
    }

    .thirdSection .cards .card {
        width: 280px;
        height: 388px;
        position: absolute; 
        top: 0;
        left: 100%;
        margin: 0px;
        animation: 12s autoplay2 infinite ease-in-out;
        box-shadow: none;        
    }

    .thirdSection .pageNav {
        display: block;
    }
}

@keyframes autoplay2 {
    0% {left: 100%}
    4% {left: 25px; box-shadow: 0px 10px 22px rgba(36, 74, 170, 0.15);}
    33.33% {left: 25px}
    37.33% {left: -120%}
    100% {left: -150%}
}
#card1 {
    animation-delay: 0s
}
#card2 {
    animation-delay: 4s
}
#card3 {
    animation-delay: 8s
}
#card4 {
    animation-delay: 12s
}